/* body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
} */
.em{
  margin-top: -2px;
  text-align: center;
  margin-bottom: 4px;
}
.em1{
   color:red;
   margin-top: -2px;
   margin-bottom: 4px;
}

h1,p{
  text-align:center;
}
 label {
  display: block;
  text-align: center;
} 
/* input[type="radio"]{
  display:block;
  text-align: center;
} */
.button{
  text-align:center;
  
}
.button button{
  height:28px;
  width:70px;
  border-radius: 4px;
  font-size: large;
}
.city input,
.Contact input,
.rollno input,
.student input,
.Name input,
.email input,
.dob input,
.username input,
.password input,
.confirm input

{
  width:40%;
  height:20px;
}
